/*=============================
============ header
===============================*/
.landing__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 70px;
  margin-bottom: 3.75rem;
  padding: 0 0.9375rem;

  // navigation
  .header__navigation {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    flex-grow: 1;

    // menu icon
    .navigation__icon {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
      height: 100%;
      width: 30px;
      cursor: pointer;

      .icon__bar {
        background-color: #ffffff;
        height: 4px;
        border-radius: 5px;
        width: 100%;
        transition: all 0.3s linear;

        &:nth-child(2) {
          margin: 0.375rem 0;
          width: 65%;
        }

        &:first-child {
          width: 40%;
        }
      }

      &:hover .icon__bar:nth-child(2),
      &:hover .icon__bar:first-child {
        width: 100%;
      }

      @media screen and (min-width: 43.75rem) {
        display: none;
      }
    }

    .navigation__items {
      display: flex;
      justify-content: space-around;
      align-items: center;
      position: fixed;
      top: 70px;
      right: -100%;
      width: 100%;
      z-index: 10;
      height: 60px;
      list-style: none;
      transition: all 0.2s ease-out;
      border-bottom: 1px solid map-get($colors, light-gray);

      .navigation__item {
        height: 100%;
        width: 20%;

        a {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100%;
          color: #ffffff;
          font-family: inherit;
          text-decoration: none;
          transition: all 0.2s linear;

          &:hover {
            letter-spacing: 1px;
            color: map-get($colors, main-blue);
          }
        }
      }

      // desktop screen
      @media screen and (min-width: 43.75rem) {
        justify-content: flex-end;
        position: static;
        top: initial;
        right: initial;
        border: none;

        .navigation__item {
          height: 100%;
          width: 100px;
          padding: 0 0.625rem;
        }
      }
    }
  }
}

// open navigation list menu
.open-navigation-list {
  visibility: visible !important;
  right: 0 !important;
}
