.landing__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 6.25rem;

  /*=============================
        ============ intro
        ===============================*/
  @import '03-landing-intro.scss';

  /*=============================
        ============ image
        ===============================*/
  @import '04-landing-image.scss';

  @media screen and (min-width: 53.125rem) {
    flex-direction: row;
    justify-content: space-evenly;
    height: 500px;
  }
}
