.landing__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 3.125rem;

  /*=============================
        ============ intro
        ===============================*/
  @import '02-intro.scss';

  /*=============================
        ============ image
        ===============================*/
  @import '03-image.scss';

  @media screen and (min-width: 50rem) {
    flex-direction: row;
    height: 400px;
    padding: 0 10%;
  }
}
