.landing__contact {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  .contact__link {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 40%;
    max-width: 140px;

    a {
      font-size: 30px;
      color: white;
      transition: all 0.3s ease;

      &:visited,
      &:active {
        color: white;
        transition: all 0.3s ease;
      }

      &:hover {
        color: map-get($colors, main-blue);
      }
    }

    & > a:first-child i {
      font-size: 32px;
    }
  }
}
