.landing {
  background-color: map-get($colors, main-gray);
  //  ! change this height
  height: 1300px;
  margin-bottom: 1000px;

  /*=============================
    ============ header
    ===============================*/
  @import '01-header.scss';

  /*=============================
    ============ info
    ===============================*/
  @import '04-info.scss';

  /*=============================
    ============ info
    ===============================*/
  @import '04-info.scss';

  /*=============================
    ============ info
    ===============================*/
  @import '05-contact.scss';
}
