/*-------------------------------
------- variables
-------------------------------*/
@import '_variables.scss';

/*-------------------------------
------- Global styling
-------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Rubik', sans-serif;
}

/*=============================
============ global
===============================*/
@import '00-global.scss';

/*=============================
============ landing
===============================*/
@import '05-landing.scss';
